
.timer{
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #F08686 ;
}

#pomo{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: #F08686 ;
	background-color: #f0868683;
	border: 2px #f0868683;
	border-radius: 10px;
	margin: 1rem;
	user-select: none;
	cursor: pointer;
}

#break{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: #9b9a9a ;
	background-color: #d6d1d1;
	border: 2px #c2c2c2;
	border-radius: 10px;
	margin: 1rem;
	user-select: none;
	cursor: pointer;
}

#pause{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: #9b9a9a ;
	border: 2px #c2c2c2;
	border-radius: 10px;
	margin: 1rem;
	user-select: none;
	cursor: pointer;
}

.paused{
	background-color: #d6d1d1;
	color: #9b9a9a;
}

.resumed{
	background-color: #f0868683;
	color: #F08686;
}

#how{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: #c2c2c2 ;
	text-decoration: underline;
}

.p {
	text-align: left;
}

.firstSpan {
	color: #c2c2c2
}

.firstSpan .secondSpan {
	visibility: hidden;
	width: 120px;
	background-color: gray;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
}

.firstSpan:hover .secondSpan {
	visibility: visible;
}